/* .header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
} */

#social-icons{
  border: 1px solid black !important;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin: 0.5rem;
}